strong {
    font-style: italic;
}

div.HomepageHead {
    background-image: url(ML_Images/frcimage.jpeg); 
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-left: 0px;
    margin-right: 0px;
    opacity: 0.8;
}

div.SecondHead {
    background-image:url(ML_Images/scouting.jpeg);
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-left: 0px;
    margin-right: 0px;
    opacity: 0.8;
}

div.FourthHead {
    background-image:url(ML_Images/network.jpeg);
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-left: 0px;
    margin-right: 0px;
    opacity: 0.8;
}

div.HeadText, div.SecondHeadText, div.ThirdHeadText, div.FourthHeadText, div.FifthHeadText, div.SixthHeadText {
    background-color:rgba(12, 12, 12, 0.719);
    background-attachment:fixed;
    background-size: cover;
    padding-top: 7em;
    padding-bottom: 7em;
    padding-left: 4em;
    padding-right: 4em;
    line-height: 160%;
    text-align: center;
    margin-left: 0px;
    margin-right: 0p;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

div.ThirdHead {
    background-image:url(ML_Images/dataone.jpeg);
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-left: 0px;
    margin-right: 0px;
    opacity: 0.8;
}

div.FifthHead {
    background-image:url(ML_Images/results.jpeg);
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-left: 0px;
    margin-right: 0px;
    opacity: 0.8;
}

div.SixthHead {
    background-image:url(ML_Images/conclusions.jpeg);
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-left: 0px;
    margin-right: 0px;
    opacity: 0.8;
}

div.intro, div.Importance, div.scouting, div.dataintro, div.network, div.results, div.datatwo, div.conclusiondiv {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 80px;
    line-height: 25px;
}

img#sampledata {
    height: 400px;
}

img#bluealliance {
    height: 370px;
}

img#threed, img#twod {
    height: 300px;
}

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: rgba(34, 34, 34, 0.384);
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  div.container {
      background-color:rgba(0, 0, 0, 0.205)
  }

  div.footer {
      background-color: rgba(0, 0, 0, 0.664);
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 80px;
    line-height: 25px;
  }






